import os


class Config:

    API_SERVER_WORKERS = os.environ.get('WORKS', 4)

    API_SERVER_PORT = os.environ.get('PORT', 9901)

    SQL_URI = 'mysql+pymysql://root:xxxx+****+@cd.xxxx.xxx:3306/ow_cheaters'

    PAGE_LIMIT = os.environ.get('PAGE_LIMIT', 50)
